.page {
  display: flex;
  min-height: 100vh;
  place-items: center;
  place-content: center;
}

.page__qr-code {
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 100px;
margin-left: 20px;
}
